* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

body {
    width: 100vw;
    height: 100vh;
    background-color:  hsl(218, 23%, 16%);
}

.wrapper {
    width:54rem;
    height: 33.2rem;
    padding-top: 4.8rem;
    margin:22.3rem auto;
    border-radius: 1.5rem;
    background-color:  hsl(217, 19%, 24%);
    position:relative;

    @media(max-width:600px) {
        width:34.3rem;
        height: 31.5rem;
        margin-top:12rem;
        border-radius: 1rem;
    }

    #advice {


        h1,h3 {
            text-align: center;
        }
    
        h1 {
            width:45.4rem;
            height: 11.4rem;
            margin:2.4rem auto;
            font-size: 2.8rem;
            line-height: 3.8rem;
            color: hsl(193, 38%, 86%);

            @media(max-width:600px) {
                width:30rem;
                height: 13.2rem;
                font-size: 2.4rem;
                line-height: 3.3rem;
            }
        }
    
        h3 {

            font-size:1.3rem;
            line-height: 1.8rem;
            letter-spacing: 0.41rem;
            text-transform: uppercase;
            color:hsl(150, 100%, 66%);

            @media(max-width:600px) {
                font-size: 1.1rem;
                line-height: 1.5rem;
                letter-spacing: 0.346rem;
            }
        }
    }
    
    .pattern-divider {
        width:44.4rem;
        height: 1.6rem;
        margin: 24.4rem auto;
        position: absolute;
        top:0;
        left:50%;
        transform: translateX(-50%);
        background-image: url('./images/pattern-divider-desktop.svg');

        @media(max-width:600px) {
            width:29.5rem;
            background-image: url('./images/pattern-divider-mobile.svg');
        }
    }

    .dice {
        width:6.4rem;
        height: 6.4rem;
        border-radius: 50%;
        background-color: hsl(150, 100%, 66%);
        position:absolute;
        left:50%;
        bottom:0;
        transform: translate(-50%,50%);
        display:flex;
        justify-content: center;
        align-items: center;

        &:hover {
            cursor:pointer;
            box-shadow: 0 0 4rem #53ffaa;
        }
    }
}




